/*------------------------------------*\
    $PRESENTATION
\*------------------------------------*/



/**
 * Container
 */

.container{
    padding: 0 15px;
}

/**
 * Primary Navigation
 */

.nav-primary{
    text-align: center;
    margin-bottom: 2em;


    a{
        padding: 0 1em;
    }
}


/**
 * Logo
 */

.logo{
    text-align: center;
    display: block;
    margin: 1em 0;
}


/**
 * Intro
 */

.intro{
    
    text-align: center;
    background: #eee;
    padding: 1em 2em;
    margin-bottom: 2em;
    border-radius: 0 $brand-radius $brand-radius;


    @include font-size(18px, false);

    h1{
        @include font-size(40px);
    }

    a{
        border-bottom: 1px $base-ui-color dotted;
    }
}