/*------------------------------------*\
    $BASE
\*------------------------------------*/

*{
    box-sizing: border-box;
}



html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}


/**
 * Max Width
 */

img, object, video{
    max-width: 100%;
}