/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/


/**
 * Links
 */

a{
    color: $link-color;
    text-decoration: none;
}

    /* Hover */

    /* Focus */

    /* Active */



/**
 * Margins
 */

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
table, 
section, 
article, 
p,
ul,
ol{
    margin: 0;
    @include rem(margin-bottom);
}


/**
 * Headings
 */


h1{
    @include font-size($h1-desktop-size, false);
    font-family: $heading-font-family;
    font-weight: normal;
}

h2{
    @include font-size($h2-desktop-size, false);
    font-weight: normal;
    font-family: $heading-font-family;
}