{{> header }}


<div class="jumbotron">

  <div class="highlight">
    <img alt="Welcome to Hackerspace Singapore" class=banner src="/imgs/banner.png">
  </div>

</div>

<div class="container">


<div class="row">
    <div class="columns six">
        <h2>Upcoming Events</h2>

        {{#events}}
        <p><strong>{{Name}}</strong>
        on {{#date}}{{When}}{{/date}} at {{#time}}{{When}}{{/time}}</p>
        {{/events}}        
    </div>

    <div class="columns six">
        <h2>Tweets</h2>

        <ul>
        {{{tweets}}}
        </ul>        
    </div>
</div>




{{> footer }}
